@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lucas Ezio Fraga<br />
    Córdoba, Argentina<br />
    <abbr title="Telefono">Tel:</abbr>
    +54 9 3512402920
</address>

<address>
    <strong>Mail:</strong>   <a href="lucas.fraga@gmail.com">"lucas.fraga@gmail.com"</a><br />
</address>