@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ficticia S.A</h1>
    <p class="lead">Ficticia S.A es una compañia falsa de seguros de vida, para realizar una Prueba Tecnica</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>
            Utilice Entity Framework para el desarrollo de esta Practica.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/ef/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bitsion</h2>
        <p>Ginkgo Soft Srl. es una empresa de desarrollo de software creada en la ciudad de Córdoba Argentina con más de 20 años de antigüedad, su marca comercial es Bitsion®.</p>
        <p><a class="btn btn-default" href="https://www.bitsion.com/bitsion/#/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gracias</h2>
        <p>Muchas gracias por haberse puesto en contacto conmigo, por la entrevista y por la oportunidad. </p>
    </div>
</div>